body {
  font-family: "Permanent Marker", cursive;
}

body.light {
  background: linear-gradient(
    180deg,
    rgb(199, 231, 241) 0%,
    rgb(103, 200, 234) 100%
  );
}

body.dark {
  background: linear-gradient(180deg, rgb(12, 9, 86) 0%, rgb(15, 13, 94) 100%);
}
