.BottomSection {
  margin: 20px auto;
  text-align: center;
}

.BottomSection .forecast-min-and-max-celsius-temperature,
.BottomSection .forecast-min-and-max-fahrenheit-temperature {
  padding: 0;
  margin: 0 auto;
}

.BottomSection .forecast-weather-0,
.BottomSection .forecast-weather-1,
.BottomSection .forecast-weather-2,
.BottomSection .forecast-weather-3,
.BottomSection .forecast-weather-4,
.BottomSection .forecast-weather-5 {
  margin: 0 auto;
}

.BottomSection .forecast-min-temperature-0,
.BottomSection .forecast-min-temperature-1,
.BottomSection .forecast-min-temperature-2,
.BottomSection .forecast-min-temperature-3,
.BottomSection .forecast-min-temperature-4,
.BottomSection .forecast-min-temperature-5 {
  text-align: center;
  padding: 0;
}

.BottomSection .forecast-max-temperature-0,
.BottomSection .forecast-max-temperature-1,
.BottomSection .forecast-max-temperature-2,
.BottomSection .forecast-max-temperature-3,
.BottomSection .forecast-max-temperature-4,
.BottomSection .forecast-max-temperature-5 {
  text-align: center;
  padding: 0;
}
