.FindCurrentLocationSection {
  text-align: center;
  margin-top: 30px;
}

.FindCurrentLocationSection h2 {
  color: rgb(128, 128, 128);
  display: inline;
  font-size: 12px;
  margin: 10px;
}

.FindCurrentLocationSection .current-location-button {
  background: white;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 10px;
  margin: 10px;
  transition: all 200ms ease-in-out;
}

.FindCurrentLocationSection .current-location-button:hover {
  background-color: rgb(210, 210, 210);
}

.FindCurrentLocationSection #current-location-icon-in-button {
  color: rgb(255, 0, 0);
}
