.ForecastWeather {
  margin: 0 auto;
  text-align: center;
}

.ForecastWeather .col-4 {
  margin-bottom: 10px;
}

.ForecastWeather .forecast-weather-icon {
  min-width: 50px;
}

.ForecastWeather .forecast-min-and-max-celsius-temperature,
.ForecastWeather .forecast-min-and-max-fahrenheit-temperature {
  padding: 0;
  margin: 0 auto;
}
